TG_BOT_TOKEN=your_tg_bot_token
TG_CHAT_ID=your_chat_id
GOOGLE_APPLICATION_CREDENTIALS=credentials.json
DIALOGFLOW_PROJECT_ID=your_dialogflow_project_id
INTENTS_FILE=training_phrases.json
VK_GROUP_TOKEN=your_vk_group_token